  <div id="errors"></div>

  <%= form_for @listing, remote: true do |form| %>
    <%= render partial: '/listings/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>