<div class="errors"></div>
<% if @user.username == nil %>
	<%= form_for @user, remote: true do |form| %>
		<div class="text-field">
	  	<%= form.label :username %>
	  	<%= form.text_field :username%>
	  </div>
	  <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

